body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
   
    color:black;
   
    box-shadow: 0 0.5px 4px rgba(114, 113, 113, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 40px;
    margin-left: 3px;
}

.company-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
    flex-grow: 0.1;
    justify-content: space-around;
    margin-left: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
}

.nav-links li {
    margin: 0 15px; /* Adjust spacing between the links */
}

.nav-link {
    color:rgb(121, 116, 116);
    text-decoration: none;
    font-weight:550;
    font-size:15px;
}
.nav-link:hover {
    color:black;
   /* border-bottom: 2px solid black;*/
   
    border-bottom: 2px solid black;
    
}



.cart img {
    width: 24px;
    height: 24px;
}

.signin-btn {
    padding: 8px 18px;
    background-color: #ffce00;
    border: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px; /* Adjusted margin for better spacing */
    border:1px solid #ff9100;
    border-radius: 7px;
    font-weight:bolder ;
}



.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.main-left, .main-right {
    flex: 1;
    padding:10px 70px;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    flex: 0.7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-btn {
    padding: 10px 20px;
    background-color: #ffce00;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: 20px;
}
#main-heading{
    font-size: 50px;
    line-height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding-left: 50px;
}
.location-icon{
   font-size: 20px;
    color:black;
}

@media (max-width: 1008px) {
    .main-left, .main-right {
        padding: 10px;
    }

    

    .search-input {
        width: 60%;
        margin-bottom: 10px;
    }

    .search-btn {
        border-radius: 5px;
    }
    #main-heading {
        font-size: 40px;
        line-height: 50px;
    }

    .main-image {
        padding-left: 0;
    }
}